body {
}

.calendar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.calendar__box {
    display: inline-block;
    width: 150px;
    height: 200px;
}

.calendar__control {
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
}

.calendar__box_container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.calendar__box_date {
    height: 10%;
    margin: 0;
}

.calendar__box_eventlist {
    padding-left: 0px;
    list-style-type: none;
    overflow-y: clip;
    height: 80%
}

.calendar__box_event {
    background-color: brown;
}

.calendar__box_event + .calendar__box_event {
    margin-top: 4%;
}

.entriesList {
    list-style-type: none;
    padding: 0;
    overflow-y:scroll;
    height: 80%;
    margin: 0 auto;
}

dialog {
    width: 70%;
    height: 60%;
}
dialog > div {
    height:90%;
}